<h1><em><%= @work.title %></em> by <%= @work.author %></h1>

<h2>Publications</h2>
<table>
  <tr>
    <th>Publisher</th>
    <th>Publication Year</th>
    <th>ISBN</th>
    <th>Format</th>
    <th>Status</th>
  </tr>
  <!-- for each copy of the book -->
  <% @publications.each do |publication| %>
  <!-- create a new table row -->
  <tr>
    <!-- Publisher -->
    <td><%= publication.publisher %></td>
    <!-- Publication year -->
    <td><%= publication.publication_year %></td>
    <!-- ISBN -->
    <td><%= publication.isbn13 %></td>
    <!-- Format -->
    <td><%= publication.format %></td>
    <!-- New copy button -->
    <td><form id="new-copy" method="POST" action="/works/<%= @work.id %>/publications/<%= publication.id %>/owns"><button type="submit">New Copy</button></form></td>
  </tr>
  <% end %>
</table>

Don't see your edition here?
<form method="GET" action="/works/<%= @work.id %>/publications/new">
<button type="submit">Add a New Publication</button>
</form>