<h2><%= @user.name%>'s Books</h2>
<table class="table table-hover table-striped table-responsive">
  <thead>
    <th>Author</th>
    <th>Title</th>
    <th>Publisher</th>
    <th>Publication Year</th>
    <th>ISBN13</th>
    <th>Format</th>
    <th>&nbsp;</th>
  </thead>
<% @copies.each do |copy| %>
  <tr>
    <td><%= copy.edition.authors[0].name %></td>
    <td><%= copy.edition.work.title %></td>
    <td><%= copy.edition.publisher.name %></td>
    <td><%= copy.edition.publication_year %></td>
    <td><%= copy.edition.isbn13 %></td>
    <td><%= copy.format.name %></td>
    <td class="action-column">
      <!-- download -->
      <% if !copy.url.empty? %>
        <%= link_to 'Download', copy.url, class: "btn btn-success", target: "_blank" %>
      <% elsif copy.loan_pending?(current_user) %>
        <button class="btn btn-warning btn-pending">Requested</button>
      <% elsif copy.borrowed? %>
        Unavailable
      <% elsif @user != current_user && copy.available?%>
        <%= link_to 'Borrow', copy_loans_path(copy), method: :post, class: "btn btn-primary btn-borrow" %>
      <% else %>
        -
      <% end %>
    </td>
  </tr>
<% end %>
</table>
<p>
  <% if @user == current_user %>
    <%= link_to 'Add books', new_user_copy_path(current_user) %>
  <% end %>
</p>
