<h2><%= @user.name%>'s Books</h2>
<table class="table table-striped table-responsive">
  <thead>
    <th>Author</th>
    <th>Title</th>
    <th>Publisher</th>
    <th>Publication Year</th>
    <th>ISBN13</th>
    <th>&nbsp;</th>
  </thead>
<% @copies.each do |copy| %>
  <tr>
    <td><%= copy.edition.authors[0].name %></td>
    <td><%= copy.edition.work.title %></td>
    <td><%= copy.edition.publisher.name %></td>
    <td><%= copy.edition.publication_year %></td>
    <td><%= copy.edition.isbn13 %></td>
    <% if @user != current_user %>
      <td><%= link_to 'Borrow', copy_loans_path(copy), method: :post %></td>
    <% end %>
  </tr>
<% end %>
</table>
<p>
  <%= link_to 'Add books', new_user_copy_path(current_user) %>
</p>
