<h2>Add a Book</h2>

<form id="new-copy-form" method="POST" action="/users/<%= current_user.id %>/copies">
  <%= render "authors/new"%>
  <%= render "works/new"%>
  <%= render "publishers/new"%>
  <%= render "editions/new"%>
  <div class="form-group">
  <label for="copyAcquisitionDate">Acquisition Date</label>
  <input type="date" name="copy[acquisition_date]" id="copyAcquisitionDate" class="form-control">
  </div>
  <button class="btn btn-primary" id="lookupISBN" type="submit">Look Up by ISBN</button>
  <button class="btn btn-primary" type="submit">Submit</button>
</form>

<!-- link back to user's copies -->