<h2>Add a Book</h2>

<% if @copy.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@copy.errors.count, "error") %> prohibited this copy from being saved:</h2>
 
    <ul>
    <% @copy.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<%= form_for(@copy) do |f| %>  
  
  <%= render "editions/isbns"%>

  <div class="form-group">
    <%= label_tag(:author) %>
    <%= text_field(:author, :name, class: 'form-control')  %>
  </div>  

  <div class="form-group">
    <%= label_tag(:work, 'Title') %>
    <%= text_field(:work, :title, class: 'form-control')  %>
  </div>  

  <div class="form-group">
    <%= label_tag(:publisher, 'Publication') %>
    <%= text_field(:publisher, :name, class: 'form-control') %>  
  </div>

  <div class="form-group">
    <%= label_tag(:edition, 'Publication Year') %>
    <%= text_field(:edition, :publication_year, class: 'form-control')  %>  
  </div>

  <div class="form-group">
    <%= f.label :url, 'Download URL'%>
    <%= f.text_field :url, class: 'form-control', placeholder: 'http://' %>
  </div>

  <div class="form-group">
    <%= f.label :format_id, "Format" %>
    <%= f.collection_select(:format_id, Format.all, :id, :name) %>
  </div>

  <div class="form-group">
    <%= f.label :acquistion_date %>
    <%= date_field :copy, :acquisition_date, class: 'form-control' %>
  </div>

  <div class="actions">
    <%= f.submit 'Submit', class: 'btn btn-primary' %>
  </div>
<% end %>