<h1><em><%= @work.title %></em> by <%= @work.author %></h1>


<!-- book metadata -->

<h2>Copies</h2>
<table>
  <tr>
    <th>Owner</th>
    <th>Publisher</th>
    <th>Publication Year</th>
    <th>ISBN</th>
    <th>Format</th>
    <th>Borrow</th>
  </tr>
  <!-- for each copy of the book -->
  <% if @copies.length > 0 %>
  <% @copies.each do |copy| %>
  <!-- create a new table row -->
  <tr>
    <!-- Owner -->
    <td><%= copy.user.name %></td>
    <!-- Publisher -->
    <td><%= copy.publication.publisher %></td>
    <!-- Publication year -->
    <td><%= copy.publication.publication_year %></td>
    <!-- ISBN -->
    <td><%= copy.publication.isbn13 %></td>
    <!-- Format -->
    <td><%= copy.publication.format %></td>
    <!-- Borrowing status -->
    <% if copy.user.id != @current_user.id %>
    <td>
      <%= erb :'borrows/_borrow', layout: false, locals: { copy: copy } %>
    </td>
    <% else %>
    <td>
      -
    </td>
    <% end %>
  </tr>
  <% end %>
  <% end %>
</table>

<form method="GET" action="/works/<%= @work.id %>/publications">
<button>New copy</button>
</form>
<!-- change Borrow button to show / hide form -->
<!-- <form method="POST" action="/send_sms">
  <button type="submit">Borrow</button>
</form> -->
<!-- <button>Lend</button> -->
