<h1>Your Loans</h1>

<h2>Borrowed Books</h2>
<table class="table table-hover table-striped table-responsive">
  <thead>
    <th>Owner</th>
    <th>Author</th>
    <th>Title</th>
    <th>Publisher</th>
    <th>Publication Year</th>
    <th>Format</th>
    <th>&nbsp;</th>
  </thead>
<% @borrowed_copies.each do |loan| %>
  <tr>
    <td><%= loan.owner.name %></td>
    <td><%= loan.copy.edition.authors[0].name %></td>
    <td><%= loan.copy.edition.work.title %></td>
    <td><%= loan.copy.edition.publisher.name %></td>
    <td><%= loan.copy.edition.publication_year %></td>
    <td><%= loan.copy.format.name %></td>
    <td><%= link_to 'Return', loan, method: :delete %></td>
  </tr>
<% end %>
</table>


<h2>Lent Books</h2>
<table class="table table-striped table-responsive" id="lent-books-table">
  <thead>
    <th>Borrower</th>
    <th>Author</th>
    <th>Title</th>
    <th>Publisher</th>
    <th>Publication Year</th>
    <th>Format</th>
    <th>&nbsp;</th>
  </thead>
<% @lent_copies.each do |loan| %>
  <tr>
    <td><%= loan.borrower.name %></td>
    <td><%= loan.copy.edition.authors[0].name %></td>
    <td><%= loan.copy.edition.work.title %></td>
    <td><%= loan.copy.edition.publisher.name %></td>
    <td><%= loan.copy.edition.publication_year %></td>
    <td><%= loan.copy.format.name %></td>
    <td><%= link_to 'Return', loan, method: :delete %></td>
  </tr>
<% end %>
</table>

<h2>Pending Loan Requests</h2>
<% if @pending_requests.length > 0 %>
  <table class="table table-striped table-responsive">
    <thead>
      <th>Borrower</th>
      <th>Author</th>
      <th>Title</th>
      <th>Publisher</th>
      <th>Publication Year</th>
      <th>Format</th>
      <th>&nbsp;</th>
      <th>&nbsp;</th>
    </thead>
  <% @pending_requests.each do |request| %>
  <tr>
    <td><%= request.borrower.name %></td>
    <td><%= request.copy.edition.authors[0].name %></td>
    <td><%= request.copy.edition.work.title %></td>
    <td><%= request.copy.edition.publisher.name %></td>
    <td><%= request.copy.edition.publication_year %></td>
    <td><%= request.copy.format.name %></td>
    <td><%= link_to 'Accept', loan_path(request), method: :put, class: "btn btn-success btn-accept" %></td>
    <td><%= link_to 'Reject', request, method: :delete, class: "btn btn-danger btn-reject"%></td>
  </tr>
  <% end %>
<% else %>
  <p>No outstanding requests</p>
<% end %>