<!DOCTYPE html>
<html>
  <head>
    <title>Sheaf</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/css/bootstrap.min.css" integrity="sha384-AysaV+vQoT3kOAXZkl02PThvDr8HYKPZhNT5h/CXfBThSRXQ6jW5DO2ekP5ViFdi" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/js/bootstrap.min.js" integrity="sha384-BLiI7JTZm+JWlgKa0M0kGRpJbF2J8q+qreVrKBC47e3K6BW78kGLrCkeRX6I9RoK" crossorigin="anonymous"></script>
    <script src="https://use.fontawesome.com/db3260db69.js"></script>
  </head>

  <body>
  <% unless controller_name == "demo" %>
    <nav class="navbar navbar-light">
      <a class="navbar-brand" href="/"><%= image_tag "mini-logo.png", height: '30' %>Sheaf</a>
      <ul class="nav navbar-nav">
        <% if user_signed_in? %>
          <li class="nav-item">
            <%= link_to 'My Library', user_copies_path(current_user), class: 'nav-link' %>
          </li>
          <li class="nav-item">
            <% if current_user.pending_requests.length > 0 %>
              <%= link_to "Loans <span class='notification-counter'>#{current_user.pending_requests.length}</span>".html_safe , loans_path, class: 'nav-link' %>
            <% else %>
              <%= link_to "Loans", loans_path, class: 'nav-link' %>
            <% end %>
          </li>
          <li class="nav-item">
            <%= link_to 'Friends', user_friendships_path(current_user), class: 'nav-link float-right' %>
          </li>
          <li class="nav-item">
            <%= link_to 'Edit profile', edit_user_registration_path, class: 'nav-link float-right' %>
          </li>
          <li class="nav-item">
            <%= link_to "Logout", destroy_user_session_path, method: :delete, class: 'nav-link float-right'  %>
          </li>
        <% else %>
            <li class="nav-item">
            <%= link_to "Sign up", new_user_registration_path, class: 'nav-link'  %>
            </li>
            <li class="nav-item">
            <%= link_to "Login", new_user_session_path, class: 'nav-link'  %>
            </li>
        <% end %>
      </ul>
    </nav>
  <% end %>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
